@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #FFF7FA;
  color: #1F2937;
}

body {
  font-feature-settings: "tnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tabular {
  font-variant-numeric: tabular-nums;
}
